{% extends 'base.html.twig' %}
{% block header %}


    <img id="a" src="{{ asset('image/logo-512 (1).png') }}">
    <h1 id="b">CHICKEN BUCKET</h1>

{% endblock %}
{% block title %}
    detail
{% endblock %}

{% block body %}

<main>
    <h1>DETAIL</h1>
    <div class="cards">
        <h2>{{ wish.title }}</h2>
    <p>{{wish.description}}</p>
    <p>{{ wish.category }}</p>
        {% set img = wish.nomImage %}
    {% if img == true %}
    <img  class="card-img" style="height: 200px; width: 200px"  src="{{ asset('images/wishes/' ~ wish.nomImage) }}" alt="">
        {% endif %}
    </div>

</main>
{% endblock %}

{% block footer %}
    <div>
        <p>@Bucket-Lis - {{ "now"|date("d/m/Y") }}</p>
    </div>
{% endblock %}
